.logo{
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.logo img {
    width: 100px;
}
form{
    border: 3px solid #f1f1f1;
    margin: 0 auto;
    width: 45%;
    padding: 20px;
    background-color: oldlace;
}
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  button {
    width: 100%;
    padding: 7px;
    font-size: 16px;
    margin: 20px 0px;
    background-color: #4CAF50;
    cursor: pointer;
  }
  button:hover {
      opacity: 0.7;
  }